.film-details {
  text-align: center;
  background-attachment: fixed !important ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  color: black;
}

.film-details * {
  color: black;
}

.wrapper {
  width: 95vw;
  /* height: 90%; */
  margin-top: 2.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 0 1.5rem;
}

.wrapper h1 {
  padding-top: 1.5rem;
}

.genres {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0 2rem;
}

.genres span {
  display: inline-block;
  margin-right: 1vw;
  /* background-color: red; */
  padding: 0.18rem 0.6rem;
  background-color: var(--main-col);
  color: var(--sec-col-lighter);
  border-radius: 50px;
  border: 1px solid var(--sec-col);
  box-shadow: var(--shadow-elevation-low);
  opacity: 0.85;
}

.wrapper > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.wrapper > div:nth-child(3) > h4 {
  text-transform: uppercase;
  margin-left: 3px;
}

.cast-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  /* border: 1px solid var(--sec-col); */
  width: 100%;
}

.cast-container > div {
  height: 220px;
  position: relative;
  border-radius: 7px;
  box-shadow: var(--shadow-elevation-low);
  transition: transform 400ms ease-in 100ms;
}

.cast-container > div img {
  height: 100%;
  border-radius: 7px;
}

.cast-container > div > div {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  background-color: var(--sec-col-light);
  opacity: 0;
  border-radius: 7px;
  box-shadow: var(--shadow-elevation-high);
  transition: all 400ms ease-in 100ms;
}

.cast-container > div:hover > div {
  opacity: 0.85;
}

.cast-container > div:hover {
  transform: scale(1.01, 1.01);
}

.wrapper > div:last-child > p {
  text-align: right;
}

.desc-iframe {
  display: flex;
  flex-direction: row-reverse;
}

.desc-iframe p {
  text-align: right;
}
