.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.homepage > h4 {
  padding: 2rem 0 0 0;
  font-size: 1.2rem;
}

.auth-btns-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem;
  width: 40%;
}

.auth-btns-cont > .react-reveal {
  margin: auto;
}

.auth-btns-cont button {
  padding: 0.7rem 1.7rem;
}
