.searchbar {
  max-width: 350px;
  width: fit-content;
  margin: 1rem auto;
}

.searchbar input {
  width: 100%;
}

.searchbar button {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* position: absolute; */
  /* z-index: 3; */
}

.searchbar button img {
  margin-right: 7px;
}
