.video-responsive {
  overflow: hidden;
  /* padding-bottom: 56.25%; */
  position: relative;
  height: 50vh;
  margin-bottom: 2rem;
  min-width: 55vw;
  margin-right: 0;
  margin-top: 1rem;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  max-width: 720px;
  max-height: 405px;
}
